html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-LightItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src:
    local('roboto'),
    url('./assets/fonts/Roboto-Black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: 'roboto', sans-serif;
  --page-width: 75vw;
  --primary: #1F2937;
  --secondary: #E5E7EB;
  --tertiary: #3882F6;
}

/* General */
header,
#hero-section {
  color: white;
  background-color: var(--primary);
}

#hero-section,
#feature-section,
#quote-section,
#signup-section {
  padding-block: 6rem;
}

#header-content,
#hero-content,
#feature-content,
#quote-content {
  width: var(--page-width);
  margin: auto;
  display: flex;
  align-items: center;
}

#hero-signup-button,
#signup-section-button {
  padding: 0.5rem;
  margin-block: 0.5rem;
  width: 7rem;
  color: white;
  background-color: var(--tertiary);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

#hero-signup-button:hover,
#signup-section-button:hover {
  background-color: white;
  border-color: white;
  color: var(--tertiary);
}

/* Header */
#header-content {
  padding-block: 1rem;
}

#header-content h1 {
  font-weight: bold;
}

header nav {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: var(--secondary);
  text-decoration: none;
}

/* Hero */
#hero-content {
  gap: 3rem;
}

#hero-main-text {
  font-size: 3rem;
}

#hero-subtext {
  color: var(--secondary);
}

#hero-image-container img {
  width: 100%;
  height: auto;
}

/* Features */
#feature-content {
  flex-direction: column;
  gap: 2rem;
}

#features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.feature {
  width: 8rem;
}

.feature img {
  height: 8rem;
  width: 8rem;
  border: 3px solid var(--tertiary);
  border-radius: 8px;
}

/* Quote */
#quote-section {
  background-color: var(--secondary);
}

#quote-content {
  flex-direction: column;
  align-items: flex-start;
}

#quote {
  font-size: 2rem;
  font-style: italic;
}

#quote-from {
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Sign up */
#signup-content {
  color: var(--secondary);
  background-color: var(--tertiary);
  border-radius: 8px;
  width: var(--page-width);
  padding-block: 3rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#signup-description {
  margin: 0 2rem 0 2rem;
}

#signup-description h2 {
  color: white;
}

#signup-section-button {
  border: 2px solid var(--secondary);
}

/* Footer */
footer {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  justify-content: center;
  padding-block: 2.5rem;
}

#copyright a {
  text-decoration: none;
  color: var(--secondary);
  cursor: pointer;
}

#copyright a:hover {
  color: white;
}

/* Media queries */
@media (max-width: 860px) {
  #header-content,
  #hero-content {
    flex-wrap: wrap;
  }

  #header-content {
    justify-content: center;
    gap: 2rem;
  }

  header nav {
    margin-left: 0px;
  }

  #feature-content h2 {
    text-align: center;
  }
}